


.fechar{
    width: 30px;
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.fechar::after{
    content: ' ';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
    transform: rotate(-45deg);
    border-radius: 1px;

}
.fechar::before{
    content: ' ';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 1px;

}


.p-style{
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
    font-size: 16px;
    color: #ffffff;
}

.detalhe p::before{
    content: '';
    display: block;
    width: 145px;
    height: 2px;
    margin: 0;
    background-color: rgb(244, 244, 244);
}
.detalhe p::after{
    content: '';
    display: block;
    width: 145px;
    height: 2px;
    margin: 0;
    background-color: rgb(244, 244, 244);
}
.div-membro{
    width: 100%;
    height: 40px;
}
.div-membro p::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(244, 244, 244);
}
.div-membro p{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

