@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



.hover{
    border-radius: 5px;
    padding: 0 5px 0 5px ;
}

.hover:hover{
    border-bottom: #ed8600 solid .125rem;
}

.btn-border-bottom{
    border-bottom: #ed8600 solid .125rem;
}

.style-link{
    line-height: 1.25rem;
    font-weight: 700;   
    white-space: pre-wrap; 
    color: #0072ED;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: .5rem;
}

.embad{
    border: 20px solid #ed8600;
    border-radius: 0px 50px 50px 50px ;
    padding: 0;
 
}
.logo{
    width: 5.5rem;
    cursor: pointer;
    margin-top: -10px;
}
.btn-menu{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #ed8600;
    padding:  5px 10px 5px 10px;
    color: #ed8600;
    font-size: 1rem;
    cursor: pointer;
}

.btn-menu:hover{
    box-shadow: '0 0 5px rgba(237, 134, 0, 0.3),     0 0 15px rgba(237, 134, 0, 0.3),     0 0 25px rgba(237, 134, 0, 0.3),     0 0 45px rgba(237, 134, 0, 0.3),     0 0 25px rgba(237, 134, 0, 0.3) inset';
}

.img-login{
    border-radius: 30px;
    height: 50px;
    width: 50px;
    margin: 0 10px 0 0;
}